{% extends 'base.html.twig' %}

{% block title %}Account settings{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display-4">Change password</h2>

            <form method="post" action="{{ path('changePw') }}">
                <div class="form-group">
                    <label for="exampleInputPassword1">Old password</label>
                    <input type="password" class="form-control" name="oldPassword" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword2">New password</label>
                    <input type="password" class="form-control" name="newPassword" id="exampleInputPassword2" placeholder="Password">
                    <input type="hidden" name="csfr_token" value="{{ csrf_token('change_pw') }}"/>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
