{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{ totalUsers }} Registred users</h1>
            <p class="lead">You can become part of the comunity too just <a
                        href="{{ path('app_register') }}">register</a>.</p>
        </div>
    </div>

    <div class="jumbotron bg-primary jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{ totalRestaurants }} Restaurants available</h1>
            <p class="lead">Restaurant is place where you can exchange money for food.</p>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{ dailySessions }} Restaurants found daily</h1>
        </div>
    </div>

    {% if app.user %}
        <div class="jumbotron jumbotron-fluid mt-4">
            <div class="container">
                <a href="{{ path('session-new') }}" class="btn btn-primary btn-lg btn-block">Create Session</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
