{% extends 'base.html.twig' %}

{% block title %}My Sessions{% endblock %}

{% block body %}

    <div class="container">
        <h1>My Sessions</h1>

        <div class="table-responsive">
            <table id="sessionDatatable" class="display table" style="width:100%">
                <thead>
                <tr>
                    {% for column in columns %}
                        <th>{{ column|humanize }}</th>
                    {% endfor %}
                    <th>Actions</th>
                </tr>
            </table>
            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <td class="gutter">
                        <div class="line number1 index0 alt2" style="display: none;">1</div>
                    </td>
                    <td class="code">
                        <div class="container" style="display: none;">
                            <div class="line number1 index0 alt2" style="display: none;">&nbsp;</div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <a href="{{ path('session-new') }}">Create new</a>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/datatables.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('#sessionDatatable').DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    "url": "{{ path('session_index_ajax') }}",
                    "type": "POST"
                },
                columns: [
                    {% for column in columns %}
                    {"data": "{{ column }}"{{ column == "finalRestaurant"? ", orderable: false," }}},
                    {% endfor %}
                    {
                        "data": "actions",
                        "orderable": false,
                    },
                ],
                columnDefs: [
                    {
                        "targets": 5,
                        "data": "name",
                        "render": function (data, type, full, meta) {
                            if (typeof data.delete == "undefined") {
                                return '  <a href="' + data.show + '" class="btn btn-secondary">Edit</a>\n';
                            } else {
                                return '<form class="btn-group" method="post" action="' + data.delete + '" onsubmit="return confirm(\'Are you sure you want to delete this item?\')">' +
                                    '   <a class="btn btn-secondary" href="' + data.show + '">show</a>' +
                                    '   <input type="hidden" name="_method" value="DELETE">' +
                                    '   <input type="hidden" name="_token" value="' + data.crsf + '">' +
                                    '   <button class="btn btn-danger">Delete</button>\n' +
                                    '</form>';
                            }
                        }
                    },
                    {
                        "targets": 2,
                        "data": "name",
                        "render": function (data, type, full, meta) {
                            if (typeof data.name == "undefined")
                            {
                                return 'Session not closed yet'
                            }
                            return '<a href="' + data.link + '">' + data.name + '</a>';
                        }
                    }
                ]
            });
        });
    </script>

{% endblock %}
