{% extends 'base.html.twig' %}

{% block title %}Create Session{% endblock %}

{% block body %}

    <div class="container mt-3">
        <div class="jumbotron">
            <h1 class="display-4">New Session</h1>

            {{ include('session/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
