{% extends 'base.html.twig' %}

{% block title %}{{ session.description }}{% endblock %}

{% block body %}

    <div class="container mt-3">
        <div class="jumbotron">
            <h2 class="display-4">{{ session.description }}</h2>
            {#<p class="lead">{{ session.description }}</p>#}

            <p>Send this link to people you want to invite</p>
            <div class="input-group mb-3">
                <input id="clipboard" type="text"
                       value="{{ absolute_url(path('session-id', {'sessionId': session.sessionId})) }}" readonly
                       class="form-control border-primary bg-light" aria-describedby="session-link">
                <div class="input-group-append">
                    <button onclick="copyToClipboard()" class="btn btn-primary" type="button" id="session-link">
                        Copy link
                    </button>
                </div>
            </div>

            <div class="list-group" id="searchRestaurant">
                <input type="text" class="list-group-item bg-white" id="searchInput" placeholder="Search Restaurant">
            </div>

            <hr class="my-4">

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h3>My Preferences:</h3>
                        <table id="preferences" class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col" colspan="2">Restaurant</th>
                                <th scope="col" colspan="2">Rank</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for restaurant in myRestaurants %}
                                <tr class="removeRestaurantList">
                                    <th scope="row">
                                        <img src="/{{ restaurant.image }}" class="img-fluid" style="height: 50px">
                                    </th>
                                    <td>
                                        <a href="{{ restaurant.link }}">{{ restaurant.name }}</a>
                                    </td>
                                    <td>
                                        <div data-id="{{ restaurant.id }}"
                                             data-rate-value="{{ restaurant.rank / starMultiplier }}"
                                             class="isFinished {{ userList.isFinished ? "d-none" : "" }} rate h3"></div>
                                    </td>
                                    <td>
                                        <button class="isFinished {{ userList.isFinished ? "d-none" : "" }} btn btn-danger"
                                                onclick="deleteRatedRestaurant(event)"
                                                data-id="{{ restaurant.id }}">Delete
                                        </button>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <th class="removeRestaurantList" scope="row">No restaurants</th>
                                    <td></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm">
                        <h3>Final Restaurants:</h3>
                        <table id="finalTable" class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col" colspan="2">Restaurant</th>
                                <th scope="col">Stars</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for restaurant in finalRestaurants %}
                                <tr class="removeRestaurantFinalList">
                                    <th scope="row">
                                        <img src="/{{ restaurant.image }}" class="img-fluid" style="height: 50px">
                                    </th>
                                    <td><a href="{{ restaurant.link }}">{{ restaurant.name }}</a></td>
                                    <td>
                                        <div data-rate-value="{{ restaurant.rank }}"
                                             class="rateFinal h3"></div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <th class="removeRestaurantFinalList" scope="row">No restaurants</th>
                                    <td></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <a id="saveRestaurants" onclick="saveRestaurants(event)"
               class="{{ userList.isFinished ? "disabled" : "" }} btn btn-primary btn-lg" href="#"
               role="button">Save</a>


            <a id="unsaveRestaurants" onclick="unsaveRestaurants(event)"
               class="btn {{ userList.isFinished ? "" : "d-none" }}
                    btn-primary btn-lg" href="#"
               role="button">unsave</a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/rater.min.js') }}"></script>

    <script>
        function rankRestaurantRow(data) {
            var starMultiplier = {{ starMultiplier }};

            return '<tr class="removeRestaurantList">' +
                '<th scope="row"><img src="/' + data[i].image + '" class="img-fluid" style="height: 50px"></th>' +
                '<td><a href="' + data[i].link + '">' + data[i].name + '</a></td>' +
                '<td><div data-id="' + data[i].id + '" data-rate-value="' + data[i].rank / starMultiplier + '" class="rate h3"></div></td>' +
                '<td><button class="btn btn-danger" onclick="deleteRatedRestaurant(event)" data-id="' + data[i].id + '">Delete</button></td>' +
                '</tr>';
        }

        function rankFinalRestaurantRow(data) {

            var isFinal = '';
            if (data[i].isFinished) {
                isFinal = 'bg-success';
            }

            return '<tr class="removeRestaurantFinalList ' + isFinal + '">' +
                '<th scope="row"><img src="/' + data[i].image + '" class="img-fluid" style="height: 50px"></th>' +
                '<td><a href="' + data[i].link + '">' + data[i].name + '</a></td>' +
                '<td><div data-rate-value="' + data[i].rank + '" class="rateFinal h3"></div></td>' +
                '</tr>';
        }

        var optionsFinal = {
            max_value: 5,
            step_size: {{ 1 / starMultiplier }},
            selected_symbol_type: 'utf8_star', // Must be a key from symbols
            cursor: 'default',
            change_once: false, // Determines if the rating can only be set once
            readonly: true,
        };

        $(".rateFinal").rate(optionsFinal);

        function copyToClipboard() {
            /* Get the text field */
            var copyText = document.getElementById("clipboard");

            /* Select the text field */
            copyText.select();

            /* Copy the text inside the text field */
            document.execCommand("copy");

            /* Alert the copied text */
            // alert("Copied the text: " + copyText.value);

        }

        $('#session-link').popover({
            container: 'body',
            content: 'Link copied',
            placement: 'top',
        });

        $(document).ready(function () {
            var searchRequest = null;
            $("#searchInput").on("keyup", function (event) {

                if (searchRequest != null)
                    searchRequest.abort();

                if ($(this).val().length > 0) {
                    searchRequest = $.ajax({
                        url: '{{ path('session-id', {'sessionId': session.sessionId}) }}',
                        type: 'POST',
                        dataType: 'json',
                        data: 'search=' + $(this).val(),
                        async: true,

                        success: function (data, status) {
                            $('.remove').remove();
                            data = data.search;

                            if (data.length <= 0) {
                                $('#searchRestaurant').append($('<a href="#" class="remove list-group-item list-group-item-action text-black-50 bg-light">No results found</a>'));
                            } else {
                                var result = '';
                                for (i = 0; i < data.length; i++) {
                                    console.log(data[i].name);

                                    result += '<a class="remove list-group-item list-group-item-action text-black-50 bg-light">' + data[i].name + '' +
                                        '<button data-id="' + data[i].id + '" onclick="addRestaurant(event)" class="btn addRestaurant btn-sm btn-primary float-right">Add</button>' +
                                        '</a>';
                                }
                                $('#searchRestaurant').append($(result));
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.log('Ajax error: ' + errorThrown);
                            // $('#searchRestaurant').append($('<a href="#" class="remove list-group-item list-group-item-action text-black-50 bg-danger">Ajax error: ' + errorThrown + '</a>'));
                        }
                    });
                } else {

                    $('.remove').remove();
                }
            });
        });

        function addRestaurant(event) {

            $.ajax({
                url: '{{ path('session-id', {'sessionId': session.sessionId}) }}',
                type: 'POST',
                dataType: 'json',
                data: 'addRestaurant=' + event.target.dataset.id,
                async: true,

                success: function (data, status) {
                    $('.removeRestaurantList').remove();
                    data = data.addedRestaurants;

                    var result = '';

                    if (data.length <= 0) {
                        result = '<tr><th class="removeRestaurantList" scope="row">No restaurants</th><td></td></tr>';
                    } else {
                        for (i = 0; i < data.length; i++) {

                            result += rankRestaurantRow(data);
                        }
                    }
                    $('#preferences').append($(result));
                    rateStars();
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Ajax error: ' + errorThrown);
                    // $('#searchRestaurant').append($('<a href="#" class="remove list-group-item list-group-item-action text-black-50 bg-danger">Ajax error: ' + errorThrown + '</a>'));
                }
            });
        }

        $(document).ready(rateStars());

        function rateStars() {
            var options = {
                max_value: 5,
                step_size: {{ 1 / starMultiplier }},
                selected_symbol_type: 'utf8_star', // Must be a key from symbols
                cursor: 'default',
                change_once: false, // Determines if the rating can only be set once
                ajax_method: 'POST',
                url: '{{ path('session-id', {'sessionId': session.sessionId}) }}',
            };

            $(".rate").rate(options).on("change", function (ev, data) {
                console.log(data.to, ev.target.dataset.id);
                $(".rate").rate("setAdditionalData", {rateId: ev.target.dataset.id});
            });
        }

        function deleteRatedRestaurant(event) {

            $.ajax({
                url: '{{ path('session-id', {'sessionId': session.sessionId}) }}',
                type: 'POST',
                dataType: 'json',
                data: 'deleteRatedRestaurant=' + event.target.dataset.id,
                async: true,

                success: function (data, status) {
                    $('.removeRestaurantList').remove();
                    data = data.addedRestaurants;

                    var result = '';

                    if (data.length <= 0) {
                        result = '<tr><th class="removeRestaurantList" scope="row">No restaurants</th><td></td></tr>';
                    } else {
                        for (i = 0; i < data.length; i++) {

                            result += rankRestaurantRow(data);
                        }
                    }
                    $('#preferences').append($(result));
                    rateStars();
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Ajax error: ' + errorThrown);
                    // $('#searchRestaurant').append($('<a href="#" class="remove list-group-item list-group-item-action text-black-50 bg-danger">Ajax error: ' + errorThrown + '</a>'));
                }
            });
        }

        setInterval(function () {
            loadRestaurantFinalTable();
        }, 1000);

        function loadRestaurantFinalTable() {

            $.ajax({
                url: '{{ path('session-id', {'sessionId': session.sessionId}) }}',
                type: 'POST',
                dataType: 'json',
                data: 'restaurantFinalList=' + true,
                async: true,

                success: function (data, status) {
                    $('.removeRestaurantFinalList').remove();
                    data = data.restaurantFinalList;

                    var result = '';

                    if (data.length <= 0) {
                        result = '';
                    } else {
                        for (i = 0; i < data.length; i++) {

                            result += rankFinalRestaurantRow(data);
                        }
                    }
                    $('#finalTable').append($(result));
                    rateStars();
                    $(".rateFinal").rate(optionsFinal);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Ajax error: ' + errorThrown);
                    // $('#searchRestaurant').append($('<a href="#" class="remove list-group-item list-group-item-action text-black-50 bg-danger">Ajax error: ' + errorThrown + '</a>'));
                }
            });
        }

        function saveRestaurants(event) {

            $.ajax({
                url: '{{ path('session-id', {'sessionId': session.sessionId}) }}',
                type: 'POST',
                dataType: 'json',
                data: 'isFinished=' + true,
                async: true,

                success: function (data, status) {
                    $('#saveRestaurants').addClass('disabled');
                    $('#unsaveRestaurants').removeClass('d-none');
                    $(".isFinished").addClass('d-none');
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Ajax error: ' + errorThrown);

                }
            });
        }

        function unsaveRestaurants(event) {

            $.ajax({
                url: '{{ path('session-id', {'sessionId': session.sessionId}) }}',
                type: 'POST',
                dataType: 'json',
                data: 'isUnFinished=' + true,
                async: true,

                success: function (data, status) {
                    $('#saveRestaurants').removeClass('disabled');
                    $('#unsaveRestaurants').addClass('d-none');
                    $(".isFinished").removeClass('d-none');
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Ajax error: ' + errorThrown);

                }
            });
        }
    </script>

{% endblock %}
