{% extends 'base.html.twig' %}

{% block title %}{{ restaurant.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        body {
            background-image: url("{{ image(restaurant.image.realpath) }}");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">

        <div class="jumbotron mt-4">
            <h1 class="display-4">{{ restaurant.name }}</h1>
            {#<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>#}
            <hr class="my-4">
            <p>{{ restaurant.description }}</p>
        </div>
    </div>
{% endblock %}
