{% extends 'base.html.twig' %}

{% block title %}Restaurant index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Restaurant index</h1>

        <div class="table-responsive">
            <table id="restaurantDatatable" class="display table" style="width:100%">
                <thead>
                <tr>
                    {% for column in columns %}
                        <th>{{ column|humanize }}</th>
                    {% endfor %}
                    <th>Actions</th>
                </tr>
            </table>
            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <td class="gutter">
                        <div class="line number1 index0 alt2" style="display: none;">1</div>
                    </td>
                    <td class="code">
                        <div class="container" style="display: none;">
                            <div class="line number1 index0 alt2" style="display: none;">&nbsp;</div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <a href="{{ path('restaurant_new') }}">Create new</a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/datatables.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('#restaurantDatatable').DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    "url": "{{ path('restaurant_index_ajax') }}",
                    "type": "POST"
                },
                columns: [

                    {% for column in columns %}
                    {"data": "{{ column }}"},
                    {% endfor %}
                    {
                        "data": "actions",
                        "orderable": false,
                    },
                ],
                columnDefs: [
                    {
                        "targets": 3,
                        "data": "name",
                        "render": function (data, type, full, meta) {
                            return '<div class="btn-group" role="group" aria-label="Basic example">\n' +
                                '  <a href="' + data.show + '" class="btn btn-secondary">Show</a>\n' +
                                '  <a href="' + data.edit + '" class="btn btn-secondary">Edit</a>\n</div>';
                        }
                    }]
            });
        });
    </script>

{% endblock %}
