{% extends 'base.html.twig' %}

{% block title %}New Restaurant{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Restaurant</h1>

        {{ include('restaurant/_form.html.twig') }}

        <a href="{{ path('restaurant_index') }}">back to list</a>
    </div>
{% endblock %}
