{% extends 'base.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block body %}
    <div class="container">
        <h1>Restaurant</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ restaurant.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ restaurant.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ restaurant.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ image(restaurant.image.realpath) }}" class="rounded img-fluid mx-auto d-block"
                         alt="{{ restaurant.image.filename }}"></td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('restaurant_index') }}">back to list</a>

        <a href="{{ path('restaurant_edit', {'id': restaurant.id}) }}">edit</a>

        {{ include('restaurant/_delete_form.html.twig') }}
    </div>
{% endblock %}
