{% extends 'layout.html.twig' %}

{% block title %}Restaurant Finder{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/datatables.min.css') }}"/>

    <style>
        html,
        body{
            height: 100%;
        }
    </style>
{% endblock %}

{% block nav %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src = "{{ asset('assets/js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
{% endblock %}
