<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{{ asset('assets/favicon.ico') }}" rel="icon" type="image/x-icon" />

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block nav %}{% endblock %}

{% for label, messages in app.flashes(['danger', 'success', 'primary', 'secondary', 'warning', 'info', 'light', 'dark']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} mb-5 mr-5 fixed-bottom alert-dismissible fade show" style="left: auto" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endfor %}

{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>
